@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-fresno-light text-fresno-dark;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

h1 {
  @apply text-4xl md:text-5xl;
}

h2 {
  @apply text-3xl md:text-4xl;
}